In [ ]:
a=10

In [ ]:
a

10

In [ ]:
letsupgrade = "i will be placed in product based company with very high package"

type(a)

int

In [ ]:
type(letsupgrade)

str

In [ ]:
letsupgrade.capitalize()

'I will be placed in product based company with very high package'

In [ ]:
dict

{'age': 20, 'email': 'vaibhav@gmail.com', 'name': 'Vaibhav'}

In [ ]:
dict.get("age")

20

# Operators

In [ ]:
a = 10 
b = 10 
a==b

True

In [ ]:
a != b

True

In [ ]:
90>=99

False

In [ ]:
True and True
True and False
True or False 
False or False

False

In [ ]:
not True 
not False

True

In [ ]:
students = 600
if students == 600 :
  print("I will teach the programing")
else :
 print("I cant teach the programing ")

I will teach the programing

In [ ]:
students = 500
if students == 500 :
  print("I will teach the programing")
elif students >500 :
  print("I will play whole workshops")
else :
 print("I cant teach the programing ")

I will teach the programing

In [ ]:
altitude1 = 1000
altitude2 = 4500
altitude3 = 6500

altitude = int(input ("Enter Altitude -"))

if  altitude == 1000 :
    print("Safe to land")
elif altitude > 1000 and altitude <5000:
    print("Bring down to 1000")
else :
  print("Turn around")

Enter Altitude -999
Turn around

In [ ]:
players  = ["dk","hitman","surya"]
ranks = [1,2,3]
for x in players:
  for y in ranks: 
    print(x.upper(),"-",y)
  else:
    print("we can use else with for loop")
else:
  print("done with for loop")

DK - 1
DK - 2
DK - 3
we can use else with for loop
HITMAN - 1
HITMAN - 2
HITMAN - 3
we can use else with for loop
SURYA - 1
SURYA - 2
SURYA - 3
we can use else with for loop
done with for loop

In [ ]:
x = 1 

while x<10:
  print(x)
  x = x + 1
else:
  print("else will run in while loop too")
  b = input("enter number")

1
2
3
4
5
6
7
8
9
else will run in while loop too
enter number21

In [ ]:
b

'21'

In [ ]:
type(b)

str

In [ ]:
passcode =""
while passcode != "Admin":
    passcode = input("Enter password")
    print("Sorry, Password is not correct")
else:  
    print("your passcode is correct")

Enter passwordAdmin
Sorry, Password is not correct
your passcode is correct

In [ ]:
fl = open("myfile.txt",'w')
fl.write(" Hi, are you all fine")
fl.write("\n I am good what are you doing?")
fl.write("\n I love programing")
fl.close()

In [ ]:
f2 = open("myfile.txt",'r')
print(f2.read())
f2.close()

 Hi, are you all fine
 I am good what are you doing?
 I love programing

In [ ]:
f3 = open("myfile.txt",'a')
f3.write("\n this new line will be here now with you all")
f3.close()

In [ ]:
f4 = open("myfile.txt",'r')
print(f4.read())

 Hi, are you all fine
 I am good what are you doing?
 I love programingthis new line will be here now with you all
 this new line will be here now with you all

In [ ]:
for x in range(1,200):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

In [ ]:
x = range(1042000,702648265)
while x==0:
  b=b/x
  print(b)

In [ ]:
lst = [2,1,4,7,8,9]
#lst.reverse()
print(lst)

[2, 1, 4, 7, 8, 9]

In [ ]:
dst = {"vaibhav":"Male","av":"Female"}
dst.clear()
print(dst)

{}

In [ ]:

def greetigs(lst):
  print("Hi", lst)

In [ ]:
lst = ["vaibhav","rajo","rushika","ankit","Aakash"]
for x in lst:
  greetigs(x)

Hi vaibhav
Hi rajo
Hi rushika
Hi ankit
Hi Aakash

In [ ]:
def calc(a,b,op):
  if op =="sum":
    print(a+b)
  elif op =="sub":
    print(a-b)
  elif op =="mul":
    print(a*b)
  else:
    print(a/b)
c = calc(4,5,"div")
print(c)

0.8
None

In [ ]:
def calc_return(a,b,op):
  '''
 "hey guys we are using this function for calulating dif operations"
  '''
  if op =="sum":
    return(a+b)
  elif op =="sub":
    return(a-b)
  elif op =="mul":
    return(a*b)
  else:
    return(a/b)
c = calc_return(4,5,"div")
print(c)

0.8

In [ ]:
help(calc)

Help on function calc in module __main__:

calc(a, b, op)

In [ ]:
help(calc_return)

Help on function calc_return in module __main__:

calc_return(a, b, op)
    "hey guys we are using this function for calulating dif opertaions"

In [ ]:
lst = [2,3,4,1,6,2,3,4]

print(lst)

tp = (2,3,4,1,6,2,3,4)
print(tp.count(3))

[2, 3, 4, 1, 6, 2, 3, 4]
2

In [ ]:
def many(*person):
  for x in person:
    print(x*4)

In [ ]:
many(2,4,6,7,8)

8
16
24
28
32

In [ ]:
many(2,7,8)

8
28
32

In [ ]:
def dicti23(**dt):
    print(dt)


dicti23(name="vaibhav",age=28,mobno=8329874035)

{'name': 'vaibhav', 'age': 28, 'mobno': 8329874035}

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
def only_even(lst):
  if lst%2==0:
    return True
  else:
    return False

In [ ]:
only_even(10)

True

In [ ]:
only_even_list = filter(only_even, lst)
print(list(only_even_list))

[2, 4, 6, 8, 10]

In [ ]:
def multy(num):
  return num * 4

In [ ]:
lst = [2,4,6,8,1,2,3,4,5]

In [ ]:
new_lst = []

In [ ]:
new_lst=map(multy, lst)
print(list(new_lst))

[8, 16, 24, 32, 4, 8, 12, 16, 20]

In [ ]:
multy5= lambda num:num * 4

In [ ]:
multy5(10)

40

In [ ]:
multy(10)

40

In [ ]:
! pip install xlrd3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlrd3
  Downloading xlrd3-1.1.0-py2.py3-none-any.whl (105 kB)
     |████████████████████████████████| 105 kB 4.9 MB/s
Installing collected packages: xlrd3
Successfully installed xlrd3-1.1.0

In [ ]:
import xlrd3 as xlrd